# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
/ai/mental_models/*.pyc
/autotune
/docs.html.erb
/ai/mental_models/site-packages/
/website/javascripts/build/
/acksin
/node_modules/
/website/javascripts/bower_components/
