---
title: Acksin Console - Diagnostics
---

<h1>Acksin Diagnostics</h1>

<div id="autotune"></div>

<script type="text/babel">
 $(document).ready(function() {
   var statsId  = document.location.hash.replace(/^#\//, '');

   if(statsId) {
     ReactDOM.render(<AcksinAutotuneDiagnostics statsId={statsId} />, document.getElementById('autotune'));
   } else {
     document.location.href = "/console/";
   }
 });
</script>
