---
product: autotune
title: Autotune - Linux Performance Tool
version: 0.5.4
---

<header>
  <div class="container">
    <div class="jumbotron acksin-jumbotron acksin-header" id="autotune-header">
    </div>
  </div>
</header>

<% if autotune_released? %>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 center">
          <h1 class="intro-heading">Acksin Autotune</h1>
          <h2 class="intro-lead-in">Taking your servers to eleven.</h2>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h3>What is Acksin Autotune?</h3>

          <p>
            Autotune is born out of the frustration that kernel tuning
            is a black art. Linux was made for a world where multiple
            services are running on the machine with the kernel giving
            preference to all of the services. However, when running
            single services on Service Oriented architectures you want
            the machine to be greedy.
          </p>

          <p>
            Autotune gives you the changes that should be done to give
            your server the best performance. Pick a profile for your
            machine (e.g. Go, Nodejs, Apache) and Autotune will set up
            the best settings for that application profile.
          </p>

          <%= partial "download", locals: {
            product: current_page.data.product,
            version: current_page.data.version
          } %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <h3>Pricing</h3>
        </div>

        <div class="col-lg-6">
          <p>
            Autotune is completely free. The Autotune Pro allows you to
            watch your machine and get recommendations to change
            instance types if necessary. It'll watch your network, IO,
            CPU, and memory utilization with the profile you specified
            and recommend the best instance type to use. If we see that
            the machine is underutilized we will also recommend going to
            a serverless architecture if we see that you can save more
            money.
          </p>
        </div>

        <div class="col-lg-12">
          <%= partial "pricing/autotune" %>
        </div>
      </div>
    </div>
  </section>

  <!-- 2. Configure SystemJS -->
  <script>
   System.config({
     transpiler: 'typescript',
     typescriptOptions: { emitDecoratorMetadata: true },
     packages: {'src': {defaultExtension: 'ts'}}
   });
  </script>
  <!-- 3. Bootstrap -->
  <script>
   System.import('angular2/platform/browser').then(function(ng){
     System.import('/autotune/js/autotune_curl.ts').then(function(src) {
       ng.bootstrap(src.AutotuneCurl);
     });
   });
  </script>

<% else %>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 center">
          <h1 class="intro-heading">Acksin Autotune</h1>
          <h2 class="intro-lead-in">Taking your servers to eleven.</h2>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h3>What is Acksin Autotune?</h3>

          <p>
            Autotune is born out of the frustration that kernel tuning
            is a black art. Many services could use the kernel and other
            settings to be tuned to get the optimal performance. We are
            building this tool.
          </p>
        </div>

        <div class="col-lg-6">
          <h3>Subscribe for Updates</h3>
          <p>
            We are still putting the finishing touches on Autotune. It
            will be available shortly.

            <acksin-subscribe></acksin-subscribe>
          </p>

        </div>
      </div>
    </div>
  </section>
<% end %>

<script>
 System.config({
   transpiler: 'typescript',
   typescriptOptions: { emitDecoratorMetadata: true },
   packages: {'app': {defaultExtension: 'ts'}}
 });
 System.import('/javascripts/main.ts') .then(null, console.error.bind(console));
</script>
<script src="/javascripts/subscribe.ts"></script>
