---
---

<header>
  <div class="container">
    <div class="jumbotron acksin-jumbotron acksin-header" id="autotune-header">
      <h1 class="intro-heading">Autotune</h1>
      <h2 class="intro-lead-in">Taking your servers to eleven.</h2>
      <a href="#service" class="btn-success btn btn-xl">Tune My Machine</a>
    </div>
  </div>
</header>

<section id="service">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3>What is Autotune?</h3>

        <p>
          Autotune brings performance to your machine by tuning the
          Linux kernel for your application profile. Pick a profile
          for your machine (e.g. Go, Nodejs, Apache) and Autotune will
          set you up for the best settings for that application.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h3>Install</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <p>
          Installation is easy. Specify the server profile of your
          machine and run the curl command. Note: It won't change your
          kernel settings it'll only show you what will
          change. Additional command is necessary to make actual
          changes.
        </p>

      </div>
      <div class="col-lg-6">
        <autotune-curl>Loading...</autotune-curl>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h3>Pricing</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <p>
          Autotune is open source because we believe that everyone
          should have access to performant servers. We want to help
          save you money as well as save the environment by using
          fewer resources. This is one of our guiding principles. If
          you find this software useful consider getting a Pro
          subscription which will help the development of Autotune.
        </p>
      </div>

      <div class="col-lg-12">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Open</th>
              <th>Pro</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>License</td>
              <td><a href="http://mozilla.org/MPL/2.0/">MPL 2.0</a></td>
              <td>Commercial</td>
            </tr>

            <tr>
              <td>Kernels</td>
              <td>Linux 2.6+</td>
              <td>Linux 2.6+</td>
            </tr>

            <tr>
              <td>Support</td>
              <td>Github Issues</td>
              <td>Email</td>
            </tr>

            <tr>
              <td>Custom Work</td>
              <td>N/A</td>
              <td><a href="/support/#custom-work">Yes</a></td>
            </tr>

            <tr>
              <td>Feature Influence</td>
              <td>N/A</td>
              <td><a href="/support/#feature-influence">Yes</a></td>
            </tr>

            <tr>
              <td>Pricing</td>
              <td>Free</td>
              <td>$949/year</td>
            </tr>

            <tr>
              <td></td>
              <td><a class="btn btn-success">Get Started</a></td>
              <td>
                <script src="https://gumroad.com/js/gumroad.js"></script>
                <a class="btn btn-success gumroad-button" href="https://gum.co/autotune">Purchase</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<!-- 2. Configure SystemJS -->
<script>
System.config({
  transpiler: 'typescript',
  typescriptOptions: { emitDecoratorMetadata: true },
  packages: {'src': {defaultExtension: 'ts'}}
});
</script>
<!-- 3. Bootstrap -->
<script>
System.import('angular2/platform/browser').then(function(ng){
  System.import('/autotune/js/autotune_curl.ts').then(function(src) {
    ng.bootstrap(src.AutotuneCurl);
  });
});
</script>
