---
product: autotune
title: Autotune - Linux Performance Tool
version: 0.5.4
---

<header>
  <div class="container">
    <div class="jumbotron acksin-jumbotron acksin-header" id="autotune-header">
    </div>
  </div>
</header>

<% if autotune_released? %>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 center">
          <h1 class="intro-heading">Acksin Autotune</h1>
          <h2 class="intro-lead-in">Taking your servers to eleven.</h2>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h3>What is Acksin Autotune?</h3>

          <p>
            Autotune is born out of the frustration that kernel tuning
            is a black art and there is not a single way to tune the
            kernel for multiple applications. We hope to have solved
            that problem for tuning the machine giving you a 5-25%
            boost on your machine.
          </p>

          <%= partial "download", locals: {
            product: current_page.data.product,
            version: current_page.data.version
          } %>
        </div>

        <div class="col-lg-6">
          <autotune-cost></autotune-cost>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <h3>Pricing</h3>
        </div>

        <div class="col-lg-6">
          <p>
            Autotune is completely free. The Autotune Pro allows you to
            watch your machine and get recommendations to change
            instance types if necessary. It'll watch your network, IO,
            CPU, and memory utilization with the profile you specified
            and recommend the best instance type to use. If we see that
            the machine is underutilized we will also recommend going to
            a serverless architecture if we see that you can save more
            money.
          </p>
        </div>

        <div class="col-lg-12">
          <%= partial "pricing/autotune" %>
        </div>
      </div>
    </div>
  </section>

  <!-- 2. Configure SystemJS -->
  <script>
   System.config({
     transpiler: 'typescript',
     typescriptOptions: { emitDecoratorMetadata: true },
     packages: {'src': {defaultExtension: 'ts'}}
   });


  System.import('/autotune/js/main.ts') .then(null, console.error.bind(console));
  </script>

<% else %>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 center">
          <h1 class="intro-heading">Acksin Autotune</h1>
          <h2 class="intro-lead-in">Taking your servers to eleven.</h2>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h3>What is Acksin Autotune?</h3>

          <p>
            Autotune is born out of the frustration that kernel tuning
            is a black art. Many services could use the kernel and other
            settings to be tuned to get the optimal performance. We are
            building this tool.
          </p>
        </div>

        <div class="col-lg-6">
          <h3>Subscribe for Updates</h3>
          <p>
            We are still putting the finishing touches on Autotune. It
            will be available shortly.

            <%= partial :subscribe %>
          </p>
        </div>
      </div>
    </div>
  </section>
<% end %>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
